<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to relative url templates</h1>
    <!-- The line below links to the other path inthe urls.py file-->
    <!-- The anchor tag references this line of code from the urls.py file in basic app "app_name = 'basic_app' " not the folder name-->
    <a href="{% url 'basic_app:other' %}">THE OTHER PAGE</a>
    <a href="{% url 'admin:index' %}">Link to admin</a>
    <a href="{% url 'index' %}">Link to index!</a>
  </body>
</html>
